:root {
    --white: #fff;
    --black: #222;
    --green: #20364B;
    --blue: #20364B;
    --grey1: #f0f0f0;
    --gray2: #F8F8FB;
    --color-green: #65EBE4;
    --global-padding: 25px 125px;
  }

  .buyerpost-center.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    width: 47%;
    padding: 30px;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 768px) {
    .product-item {
      width: 100%;
      margin: 10px auto 15px;
    }

    .section .top {
        margin-bottom: 2.5rem;
      }

      .container {
        padding: 0 2rem;
      }
  }
  

.offer-thumb img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: all 500ms linear;
    margin: 10px auto 10px;
    display: block;
    padding: 15px;
}

.background-green-thumb,
.background-blue-thumb,
.background-orange-thumb,
.background-yellow-thumb,
.background-red-thumb 
{
    padding: 30px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 7px 0;
} 


.background-green-thumb {
    background-color: #35f4ea55;
    
}

.background-blue-thumb {
    background-color: #3581c954;
}

.background-orange-thumb {
    background-color: rgba(235, 170, 48, 0.338);
}

.background-yellow-thumb {
    background-color: rgba(232, 232, 42, 0.343);
}

.background-red-thumb {
    background-color: rgba(254, 60, 60, 0.34);
}

button {
    border: none;
    background: transparent;
}

.message-customer-btn {
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 30px;
    color: var(--color-green);
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.product-item-buyer-info {
    display: grid;
    grid-template-columns: 15% 75% 10%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.608);
}

.post-customer-name,
.product-item-buyer-info .bx {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--blue);
    font-weight: 500;
    color: #20364bd9;
}

.product-item-buyer-info .bx {
    cursor: pointer;
}

.product-item-buyer-info .bx:hover {
    color: var(--color-green);
}

.post-customer-title {
    margin: 10px 0;
    font-size: 16px;
    color: #20364bb2;
    font-weight: 500;
}

.post-customer-description {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #20364bb2;
}

.product-item button {
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 14px;
    color: #a1a1a1e0;
    cursor: pointer;
}

.product-info {
    margin-left: -10px;
}

.product-info h4 {
    font-size: 15px;
    line-height: 14px;
    font-weight: 500;
    color: #20364bd9;
}

.product-info span {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
} 

.product-item {
    background-color: var(--white);
    border: 1px solid #dadada9b;
}

.product-item-img {
    width: 70%;
    
    border-radius: 50%;
    margin-right: 15px;
}

.product-info .bx {
    font-size: 21px;
    color: #20364bb2;
}

.post-info {
    display: flex;
    align-items: center;
}

.post-info i {
    margin-right: 10px;
}

.send-budget-tobuyer {
    margin-top: 30px;
} 

.send-budget-tobuyer:hover  {
    transition: 0.4s;
    transform: scale(1.06);
} 

.send-budget-btn {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: 10px 60px;
    border-radius: 30px;
}

.send-budget-btn:hover {
    border: 1px solid #2cb4ad;
    color: #2cb4ad;
} 

