.return-product {
    margin: 30px 50px;
}

.return-product a {
    color: #20364B;
    background: #65ebe4;
    border-radius: 5px;
    padding: 10px;
}

.offers_page_setup {
    margin: 30px 50px;
    padding: 50px 80px;
    min-height: 100vh;
    box-shadow: 0 0 7px 3px #7777770b;
    border-radius: 6px;
    background-color: white;
}

.offers_page_setup_box h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #20364B;
}

.offers_page_setup {
    color: #20364B;
}

/* Start of Only Supplier section */ 
.offer_img_grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.offer_first_img {
    background: #65ebe460;
    text-align: center;
}

.offer_img_others {
    background: #F2F4F5;
    text-align: center;
    font-size: 22px;
}

.offer_first_img,
.offer_img_others {
    padding: 50px;
    border-radius: 5px;
}

.offer_img p {
    margin-top: -1px;
}

.offer_first_img p {
    font-weight: 500;
}

/* End of Only supplier section*/

.offer_title h3, 
.offer_description h3,
.offer_category h3,
.offer_img h3,
.offer_pricerange h3  {
    font-weight: 500;
    font-size: 19px;
    margin: 40px 0 20px;
}   

.offer_location_input,
.offer_delivery_input,
.offer_brand_input,
.offer_color_input  {
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    background: #F2F4F5;
    font-size: 14px;
}

.offers_category_select {
    width: 29.3%;
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    background: #F2F4F5;
    margin-right: 10px;
    font-size: 14px;
}

.offer_measures label {
    margin: 0 15px;
}

.offer_measures input,
.offer_measures label {
    margin-bottom: 20px;
}

.offer_price_quantity,
.offer_measures_height,
.offer_measures_width,
.offer_measures_weight,
.offer_measures_size {
    margin-top: 15px;
    width: 30%;
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    background: #F2F4F5;
    font-size: 14px;
}

.offer_measures_input {
    width: 20%;
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    margin-right: 10px;
    outline: none;
    background: #F2F4F5;
    font-size: 14px;
}

.offer_quantity_input,
.offer_measures_input {
    width: 20%;
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    margin-right: 10px;
    outline: none;
    background: #F2F4F5;
    font-size: 14px;
}

.offer_pricerange {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.offer_pricerange_input {
    width: 30%;
    
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    outline: none;
    margin: 10px 0;
}

.offer_pricerange_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #65ebe4;
    cursor: pointer;
}

.offer_pricerange_output {
    font-size: 16px;
    font-weight: bold;
    color: #20364B;
}

.offer_title input {
    border: none;
    border-radius: 3px;
    height: 50px;
    padding: 0 10px;
    width: 100%;
    outline: none;
    background: #F2F4F5;
    font-size: 14px;
}

.offer_title input::placeholder,
.offer_description textarea::placeholder,
.offer_location_input::placeholder,
.offer_delivery_input::placeholder,
.offer_brand_input::placeholder,
.offer_color_input::placeholder,
.offer_quantity_input::placeholder,
.offer_measures_input::placeholder {
    color: #c6c6c6f9;
}

.offer_description textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: none;
    background: #F2F4F5;
    border-radius: 3px;
    outline: none;
  }

.offer_category_accordion {
    background-color: #F2F4F5;
    color: #20364B;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
    width: 100%;
    font-size: 17px;
  }

  .active,
  .offer_category_accordion:hover {
    background-color: #ccc;
  }

  .offer_category_panel {
    padding: 8px 18px;
    background: white;
    display: none;
    overflow: hidden;
    width: 100%;

  }

  .offer_category_accordion .icon {
    float: right;
    color: #20364B;
  }

  .offer_category_panel li {
    margin: 10px 0;
    color: #20364B;
  }

  .offer_category_panel li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #65ebe4;
    display: block;
    margin: 3px 0 0 0;
    transition: 0.5s;
  }

  .offer_category_panel li:hover::after {
    width: 40%;
  }

.post_offer-btn {
    display: block;
    margin: 40px auto 0;
    width: 30%;
    text-align: center;
    padding: 10px 20px;
    background: #20364B;
    color: #65ebe4;
    font-size: 18px;
    border-radius: 30px;
}

.post_offer-btn:hover {
    background: #65ebe4;
    color: #20364B;
    transition: 0.4s;
    transform: scale(1.05);
}

  @media screen and (max-width: 820px) {
    .offers_page_setup {
        margin: 40px 20px;
    }

    .offer_title input,
    .offer_description textarea,
    .offer_category_accordion,
    .offer_category_panel,
    .offer_location_input,
    .offers_category_select   {
        width: 100%;
    }

    .offer_quantity div {
        border: 1px solid rgba(205, 205, 205, 0.567);
        padding: 15px 10px;
        margin-bottom: 20px;
        border-radius: 6px;
        background: #F2F4F5;
    }

    .offer_quantity_input,
    .offer_measures_input {
        width: 45%;
        background: white;
        border: 1px solid rgba(205, 205, 205, 0.567);
    }

    .offer_price_quantity {
        width: 70%;
        margin-bottom: 20px;
        background: white;
        border: 1px solid rgba(205, 205, 205, 0.567);
    }

    .offer_img_grid {
        grid-template-columns: 32.5% 32.5% 32.5%;
    }

    .post_offer-btn {
        width: 40%;
    }

    .offers_category_select {
        margin-bottom: 10px;
    }

    .offer_pricerange_input,
    .offer_delivery_input,
    .offer_brand_input  {
        width: 97%;
    }
  }

  @media screen and (max-width: 450px) {

    .offers_page_setup {
        padding: 40px 20px;
    }

    .offer_img_grid {
        grid-template-columns: 30% 30% 30%;
        gap: 15px;
    }

    .offer_first_img p {
        font-size: 12px;
        line-height: 17px;
    }

    .offer_first_img, .offer_img_others {
        padding: 30px;
        border-radius: 5px;
    }

    .post_offer-btn {
        width: 70%;
        font-size: 15px;
    }

    .offers_page_setup_box h2 {
        font-size: 24px;
    }

  }

  @media screen and (max-width: 361px) {
    .offers_page_setup_box h2 {
        font-size: 21px;
    }
  }

