:root {
  --white: #fff;
  --black: #222;
  --blue: #20364B;
}

/* Product specification (mobile) */

@media screen and (max-width: 650px) {
  .product-detail h3 {
    width: 45%;
  }
  .product-detail-p {
    width: 50%;
  }  

  .product-detail .details {
    padding: 20px;
  }
}



/* Supplier box */

.supplier__save__forlater {
  justify-content: center;
}

.fa-envelope,
.fa-user,
.fa-cart-shopping {
  margin-right: 5px;
  color: var(--blue);
}

.product-detail .left .main img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.supplierbox__info button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--blue);
}

/*  Product detail (mobile)   */

@media only screen and (max-width: 650px) {

  .product-detail .details {
    margin: 0 12px;
    }

    .product-detail .left {
      margin-bottom: 7em;
    }
}



@media only screen and (max-width: 470px) {
  
    .product-detail .left {
      margin-bottom: 4em;
    }
}

@media only screen and (max-width: 392px) {
  
  .product-detail .left {
    margin-bottom: 3em;
  }
}


@media screen and (max-width: 365px) {
  .product-detail .details {
    padding: 10px;
  }
}

/* Description Table */

.description_table {
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    border: 1px solid #dadadab6;
    padding: 20px;
    border-radius: 6px;
    background-color: white;
  }
  
  .description_table h3 {
    font-weight: 500;
    border: 1px solid #dadadab6;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .description_option {
    display: flex;
  }

  .description_option_table_selected {
    border-collapse: collapse;
    width: 65%;
    margin: 25px 0;
  }
  
  .description_option_table_selected th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .description_option_table_selected th {
    background-color: #f2f2f2;
  }
  
  .description_option_table_selected .info {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  @media screen and (max-width: 730px) {
    .description_table {
      margin: 0 25px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 430px) {
    .description_table {
      margin: 0 15px;
      padding: 20px;
    }

    .description_table h4 {
      font-size: 14px;
    }
  }

  
/* Review section */

.product-reviews {
  padding: 2vw;
  max-width: 113rem;
  margin: 0 0 0 15rem;
  border-radius: 6px;
  background-color: var(--white);
}

.product-reviews .heading {
  font-size: 1.5vw;
  color: var(--font-color);
  font-weight: 600;
  margin-right: 20px;
}

.product-reviews .heading,
.product-reviews span {
  margin-bottom: 15px;
}

  .product-write-review #review-button,
  .product-write-review #review-button-submit {
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 1.2vw;
    width: 20%;
    cursor: pointer;
    margin-top: 7px;
  }

  .product-write-review #review-button {
    background-color: var(--blue);
    color: var(--color-green);
  }

  .product-write-review #review-button-submit {
    background-color: #EFF2F4;
    color: var(--font-color);
  }

  .product-write-review #review-button:hover,
  .product-write-review #review-button-submit:hover {
    transform: scale(1.06);
    transition: 0.3s ease;
  }

@media screen and (max-width: 1200px) {
  .product-reviews {
    margin: auto;
  }
}


/* Supplier review pagination*/

.product-review-pagination {
  display: flex;
  align-items: center;
  padding: 3rem 0 0;
}


.product-review-pagination span {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--green);
  font-size: 1vw;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 4px;
}

.product-review-pagination span:hover {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--color-green);
}