@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.settings-title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #20354B;
}

.settings-title  {
    margin: 40px 20px;
}

.settings-infobox {
    margin: 0 12%;
}

.supplier_infobox-1{
    display: flex;
    margin: 0 auto;
    background: white;
    padding: 3%;
    border-radius: 7px;
    border: 1px solid #0000001d;
    margin-bottom: 30px;
    cursor: pointer;
}

.supplier_infobox-1 p {
    font-size: 20px;
    color: #20364bb5;
    font-weight: 600;
}

.supplier_namebox img {
    width: 100px;
    border-radius: 50%;
}

.supplier_verifiedbox img,
.supplier_countrybox img {
    width: 32px;
    height: 32px;
}

.supplier_namebox,
.supplier_verifiedbox,
.supplier_countrybox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.settings-divisor {
    border: 1px solid #77777723;
    margin: 0 30px;
}

.supplier_infobox-2,
.supplier_infobox-3,
.supplier_infobox-4,
.supplier_infobox-5 {
    display: flex;
    align-items: center;
    background: white;
    padding: 2.5%;
    border-radius: 7px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    cursor: pointer;
}

.supplier_infobox-2:hover,
.supplier_infobox-3:hover,
.supplier_infobox-4:hover,
.supplier_infobox-5:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in;
}

.supplier_infobox-2 .bx-user,
.supplier_infobox-3 .bxs-lock,
.supplier_infobox-4 .bxs-package,
.supplier_infobox-5 .bxs-bank {
    margin-right: 22px;
}

.supplier_infobox-2 div,
.supplier_infobox-3 div,
.supplier_infobox-4 div,
.supplier_infobox-5 div {
    flex: 10%;
}

.supplier_infobox-2 div p,
.supplier_infobox-3 div p,
.supplier_infobox-4 div p,
.supplier_infobox-5 div p {
    font-size: 15px;
    font-weight: 300;
    color: #5b616ece;
}

.bxs-lock,
.bxs-package,
.bxs-bank,
.bx-user {
    font-size: 40px;
    color: #8b96a5be;
}   

.bx-chevron-right {
    font-size: 25px;
    color: #8B96A5;
}

.supplier_infobox-2 h3, 
.supplier_infobox-3 h3, 
.supplier_infobox-4 h3,
.supplier_infobox-5 h3 {
    color: #20364b98;
    font-weight: 600;
}

.infobox-2-expand,
.infobox-3-expand,
.infobox-4-expand,
.infobox-5-expand {
    display: none;
  }
  
.infobox-2-expand.show,
.infobox-3-expand.show,
.infobox-4-expand.show,
.infobox-5-expand.show    {
    display: block;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 5%);
}

.infobox-2-divs,
.infobox-3-divs,
.infobox-4-divs,
.infobox-5-divs {
    background-color: white;
    margin: -15px 0 20px;
    padding: 30px 30px 15px;
    border-radius: 7px;
    color: #5b616e75;
}

.data-label {
    color: #5b616ece;
}

.infobox-divisor {
    border: 0.5px solid #5b616e2a;
    margin: 13px 0;
}

.infobox-2-username,
.infobox-2-email,
.infobox-2-address,
.infobox-2-telephone,
.infobox-2-mobilephone,
.infobox-2-razaosocial,
.infobox-2-nif {
    display: grid;
    grid-template-columns: 35% 60% 5%;
}

.bx-edit-alt {
    cursor: pointer;
    font-size: 18px;
}

.infobox-3-password,
.infobox-4-shipping,
.infobox-5-bank {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

.infobox-3-password:hover,
.infobox-4-shipping:hover,
.infobox-5-bank:hover {
    background-color: #b3b6bc2a;
}

.infobox-3-password div,
.infobox-4-shipping div,
.infobox-5-bank div {
    display: block;
}

.infobox-3-password span,
.infobox-4-shipping span,
.infobox-5-bank span {
    font-size: 15px;
}

.infobox-3-password1,
.infobox-3-password2,
.infobox-4-shipping1,
.infobox-4-shipping2,
.infobox-5-bank1,
.infobox-5-bank2 {
    width: 7%;
}

.infobox-3-divs .bxs-check-shield,
.infobox-3-divs .bxs-lock,
.infobox-4-divs .bxs-ship, 
.infobox-4-divs .bxs-plane-take-off,
.infobox-4-divs .bxs-truck,
.infobox-5-divs .bxs-bank,
.infobox-5-divs .bx-dollar-circle {
    font-size: 32px;
    color: #b3b6bcb6;
}

.infobox3-label,
.infobox5-label {
    color: #777777;
}

.security-divisor {
    border: 0.5px solid #5b616e2a;
}

.infobox-4-shipping input {
    border: 1px solid #7777776b;
    padding: 6px;
    border-radius: 5px;
    width: 220%;
  
}

.infobox-4-shipping input::placeholder {
    color: #20354b4e;
}


.delete-account {
    text-align: center;
    margin: 50px 0 60px;
  }
  
.delete-account a {
    display: inline-block;
    background-color: rgba(184, 43, 43, 0.638);
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 24px;
    border-radius: 6px;
}

.delete-account a:hover {
    transform: scale(1.03);
    transition: 0.3s ease-out;
}
  