.settings-share-section {
    margin: 40px 25px;
}

.share-title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #20354B;
}

.share-input {
    margin-top: 20px;
}

.share-input i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.share-input button {
    border: 1px solid #77777729;
    outline: none;
    height: 40px;
    width: 40%;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}