:root {
  --white: #fff;
  --black: #222;
  --blue: #20364B;
  --color-green: #65EBE4;
}

/* Login Form */
.login-form {
    padding: 5.5rem 0;
    max-width: 50rem;
    margin: 5rem auto;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form form h1 {
    font-size: 26px;
    margin-bottom: 1rem;
  }
  .login-form form p {
    font-size: 14px;
    margin-bottom: 2rem;
  }
  
  .login-form form label {
    margin-bottom: 1rem;
  }
  
  .login-form form input,
  .continue_with_google {
    border: 1px solid #dfdfdf;
    outline: none;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }

  .continue_with_google {
    background-color: white;
    font-size: 15px;
    padding: 10px 18px;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .continue_with_google img {
  margin-bottom: -1px;
  margin-right: 5px;
  }

  .login-form form input::placeholder {
    font-size: 1.6rem;
    color: #939393;
  }
  
  .login-form form .buttons {
    margin-top: 1rem;
  }
  
  .login-form form .signupbtn,
  .login-form form .loginbtn {
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 6rem;
    margin-right: 1.5rem;
    background-color: var(--color-green);
    color: var(--blue);
    cursor: pointer;
    border-radius: 30px;
  }

  .login-form form .signupbtn:hover,
  .login-form form .loginbtn:hover,
  .continue_with_google:hover {
    transform: scale(1.07);
    transition: 0.3s ease;
  }

  .login-form form .cancelbtn {
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 6rem;
    margin-right: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    color: var(--blue);
    cursor: pointer;
    border-radius: 30px;
  }
  
  .login-form form p a {
    color: dodgerblue;
  }
  
  /* .already-have-account {
    font-size: 14px;
    margin-top: 30px;
  } */

  @media screen and (max-width: 500px) {
    .login-form {
      padding: 2rem 0;
    }
  }

  @media screen and (max-width: 464px) {
    .login-form form .loginbtn,
    .continue_with_google,
    .login-form form .signupbtn,
    .login-form form .cancelbtn {
      width: 100%;
      margin: 10px auto;
    }

  }

  @media screen and (max-width: 323px) {
    .login-form form .signupbtn,
    .login-form form .cancelbtn {
      margin-top: 10px;
      width: 100%;
    }
  }